Repository Hello-World-AI-Inc/HelloStockBuy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @backend-team, @frontend-team, @docs-team, @devops-team, @qa-team, @security-team

Add demo screenshot to README.md header
  README.md
Owners: @yourusername, @docs-team

update demo image
  hellostockbuydemo.jpg
Owners: @yourusername

Add automated deployment system for remote development
  .github/workflows/deploy-to-test-server.yml
  DEVELOPMENT_WORKFLOW.md
  README.md
  deploy.sh
  docker-compose.dev.yml
  quick-deploy.sh
  setup-test-server.sh
Owners: @yourusername, @qa-team, @docs-team

Auto-deploy: 2025-09-15 13:01:40
  deploy.sh
  quick-deploy.sh
Owners: @yourusername

Auto-deploy: 2025-09-15 13:07:48 - Auto-deploy: 2025-09-15 13:01:40
  README.md
Owners: @yourusername, @docs-team

Add AI configuration files to remember test server setup
  .ai-config.json
  .cursor-settings.json
  AI_SETUP_NOTES.md
  README.md
Owners: @yourusername, @docs-team

.github/CODEOWNERS:

# Global code owners
* @yourusername

# Backend code
/backend/ @yourusername @backend-team

# Frontend code
/frontend/ @yourusername @frontend-team

# Documentation
*.md @yourusername @docs-team
/docs/ @yourusername @docs-team

# Configuration files
docker-compose.yml @yourusername @devops-team
Dockerfile @yourusername @devops-team
.github/ @yourusername @devops-team

# Database
/db/ @yourusername @backend-team
*.sql @yourusername @backend-team

# Tests
/tests/ @yourusername @qa-team
*test* @yourusername @qa-team

# Security
SECURITY.md @yourusername @security-team
.github/workflows/security* @yourusername @security-team
